<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <label>
    Nome:
    <input type="text" formControlName="firstName">

    <span *ngIf="cadastroForm.get('firstName')?.errors && (cadastroForm.get('firstName')?.touched || cadastroForm.get('firstName')?.dirty)">
      Favor, adicionar o nome!
    </span>
  </label>

  <br>
  <label>
    Sobrenome:
    <input type="text" formControlName="lastName">
     <span *ngIf="cadastroForm.get('lastName')?.errors && (cadastroForm.get('lastName')?.touched || cadastroForm.get('lastName')?.dirty)">
      Favor, deve ter no minimo {{ cadastroForm.get('lastName')?.errors?.['minlength']?.requiredLength }}
       e você ja digitou {{ cadastroForm.get('lastName')?.errors?.['minlength']?.actualLength }}
    </span>
  </label>

  <br><br>
  <label>
    Email:
    <input type="email" formControlName="email">
  </label>


  <p>
<!--    Valor: {{ cadastroForm.get('firstName')?.value }} <br>-->
<!--    Touched: {{ cadastroForm.get('firstName')?.touched | json }} <br>-->
<!--    Dirty: {{ cadastroForm.get('firstName')?.dirty | json }} <br>-->
<!--    Erros: {{ cadastroForm.get('firstName')?.errors | json }} <br>-->

<!--        Erros: {{ cadastroForm.get('lastName')?.errors | json }} <br>-->
        Erros: {{ cadastroForm.get('email')?.errors | json }} <br>
  </p>

  <button [disabled]="cadastroForm.invalid">Enviar</button>
</form>
